.CgPlayListAdd {
  font-size: 17px;
}
@media screen and (min-width: 768px) {
  .CgPlayListAdd {
    font-size: 35px;
  }
}
.savedPara {
  font-size: 15px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .savedPara {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 0px;
  }
}
